

$heading-font: 'Raleway', sans-serif;
$praragraf-font: 'Nunito Sans', sans-serif;
$navbar-links: "Bebas Neue", cursive;


$accent-color: #D5FCF6;
$secondary-color: #5BA59A;
$primary-color: #1E0540;
$color: black;

//color sceme functions
$darker-primary: darken($primary-color, 20);
$lighter-primary: lighten($primary-color, 20);

$darker-secondary: darken($secondary-color, 20);
$lighter-secondary:lighten($secondary-color, 20);

$darken-accent: darken($accent-color, 20);
$lighten-accent: lighten($accent-color, 20);


// Sass Mixins
@mixin heading-underline($color) {
  color: $color;
  border-bottom: 2px solid $color;
  padding-bottom: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

//Selector inheritance
%light-buttons {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 7px;
  border: 1px solid $accent-color;
  color: white;
}
%light-buttons:hover{
  background-color: $lighter-primary;
}

%light-links {
  color: white;
  text-decoration: none;
}
%light-links:hover{
  color: $darken-accent
}

%hover-effect:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $darken-accent;
  transition: width, 0.3s;
}
%hover-effect:hover::after {
  width: 100%;
  transition: width, 0.3s;
}
%rotation-effect:hover{
  cursor: default;
  transform: rotate(360deg);
  transition: all 1s ease-in-out 0s;
}

  //Generall rules for all sites
  * {
    box-sizing: border-box;
    font-family: $praragraf-font;
  }
  html{
    margin:0px;
    padding: 0px;
  }
  body{
    margin:0px;
    padding: 0px;
  }
  p {
    font-family: $praragraf-font;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font;
    font-weight: bold;
  }

  *, ::before, ::after{
    box-sizing: border-box;
  }

  